<%- include('./templates/head'); %>
<%- include('./templates/navigation'); %>
<div class="flex-grow-1 py-2 bg-secondary bg-opacity-10">
    <main class="container bg-light material-33 py-2">
        <h1>Welcome to ExpressJs API Example</h1>
        <br />
        <p>The API controller for this example can be found at:</p>
        <pre class="text-light bg-secondary p-2 rounded-md"><code>app/controllers/*</code></pre>

        <p>The API routes for this example can be found at:</p>
        <pre class="text-light bg-secondary p-2 rounded-md"><code>app/routes/*</code></pre>

        <p><b>API Documentation:</b> <a href="/api">Click here</a></p>         
    </main>
</div>
<%- include('./templates/footer'); %>
