    <footer class="container-fluid bg-light py-2 border-top border-2">
        <p class="fs-6 text-center mb-0">
            &copy; 2022 - <%= new Date().getFullYear(); %>. Made with ❤ by <a href="https://github.com/dureen">Dureen</a>.
        </p>
    </footer>
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'F1F8DC882');kofiwidget2.draw();</script> 
    </body>
</html>
