    <footer class="container-fluid bg-light py-2 border-top border-2">
        <p class="fs-6 text-center mb-0">
            &copy; 2022 - <%= new Date().getFullYear(); %>. Made with ❤ by <a href="https://github.com/dureen">Dureen</a>.
        </p>
    </footer>
    </body>
</html>
