<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="csrf-token" content="<%- (typeof csrfToken !== 'undefined') ? csrfToken : '' %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Dureen - <%- title.charAt(0).toUpperCase() + title.slice(1); %></title>

        <!-- CSS (load bootstrap from a CDN) -->
        <link rel="stylesheet" href="/vendor/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/shadow.css" />
        <script src="/vendor/js/bootstrap.min.js" defer></script>
        <script src="/vendor/js/alpine.min.js" defer></script>
    </head>
    <body class="d-flex flex-column h-100">