<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="csrf-token" content="<%- (typeof csrfToken !== 'undefined') ? csrfToken : '' %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <title>Dureen - <%- title.charAt(0).toUpperCase() + title.slice(1); %></title>

        <!-- CSS (load bootstrap from a CDN) -->
        <!-- <link rel="stylesheet" href="/dist/css/bootstrap.min.css"> -->
    </head>
    <body>
        <h1>Hello world</h1>