<%- include('../templates/head'); %>
<%- include('../templates/navigation'); %>
<div class="flex-grow-1 py-2 bg-secondary bg-opacity-10">
    <main class="container bg-light material-33 py-2">
        <div>
            <h3>About Me</h3>
            <p>Github: <a href="https://github.com/dureen/">https://github.com/dureen/</a>  </p>
            <p>Hi, I’m <a href="https://github.com/dureen/">@dureen</a></p>
<p>I’m interested in any programming languages such as C, PHP, SQL, Javascript, Python, and many others.</p>
<p>I’m currently exploring and developing a website using frameworks like code igniter, laravel, and expressjs.</p>
<p>I’m looking to collaborate on front-end web developer or anything related to programming language.</p>
<p>How to reach me? Contact me via phone or whatsapp : +62 851-5631-1764</p>
        </div>
    </main>
</div>
<%- include('../templates/footer'); %>
