<%- include('../templates/head'); %>
<%- include('../templates/navigation'); %>
<div class="flex-grow-1 py-2 bg-secondary bg-opacity-10">
    <main class="container bg-light material-33 py-2">
        <div>
            <h3>What's New?</h3>
            <p>-</p>
        </div>
    </main>
</div>
<%- include('../templates/footer'); %>
